* {
  box-sizing: border-box; }

html, body {
  color: #495057;
  font-family: 'Montserrat';
  font-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px; }

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 1px; }

.breadcrumb {
  background-color: #e9ecef;
  border-radius: 4px;
  color: #707070;
  font-size: 13px;
  letter-spacing: 1.3px;
  list-style: none;
  padding: .75rem 2rem;
  margin: 0;
  width: 100%; }
  .breadcrumb li {
    display: inline; }
    .breadcrumb li a {
      color: #329af0; }
  .breadcrumb li + li:before {
    color: #adb5bd;
    content: "/\00a0";
    margin: 0 0.5rem; }

.pagination {
  color: #707070;
  margin: 0;
  padding: 0;
  text-align: center; }
  .pagination li {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0.5rem 1rem; }
    .pagination li:hover {
      background-color: #f1f3f5; }
  .pagination .active {
    background-color: #dee2e6;
    border-color: #dee2e6; }
    .pagination .active:hover {
      background-color: #dee2e6;
      border-color: #dee2e6; }
  .pagination .disabled {
    background-color: #ced4da;
    border-color: #ced4da;
    cursor: not-allowed; }
    .pagination .disabled:hover {
      background-color: #ced4da;
      border-color: #ced4da; }

hr {
  background-color: #ced4da;
  border: 0;
  border-radius: 2px;
  color: #ced4da;
  height: 2px;
  width: 100%; }

img, iframe {
  max-width: 100%; }

blockquote {
  background-color: #fff9db;
  border-radius: 4px;
  margin: 0 1rem;
  padding: 1rem; }

figure {
  margin: 2rem 1rem; }

figcaption {
  font-weight: 300; }

details, summary {
  outline: none; }

a {
  color: #1081df;
  text-decoration: none;
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out; }
  a:link, a:visited {
    color: #1081df; }
  a:hover {
    text-decoration: underline; }

mark {
  background-color: #fff9db; }

pre {
  margin: 0 1rem;
  padding: 1rem; }

pre, code {
  background-color: #fff9db; }

.tableContainer {
  overflow-x: auto; }

table {
  border: none;
  border-collapse: collapse;
  outline: none;
  text-align: left;
  min-width: 480px;
  width: 100%; }
  table caption {
    font-size: 18px;
    margin-bottom: 1rem; }
  table th, table td {
    padding: 1rem; }
  table th {
    letter-spacing: 1px; }
  table td {
    border: 2px solid #ced4da; }
  table thead {
    background-color: #329af0;
    color: white;
    text-align: center; }
  table tr:nth-child(even) {
    background-color: #f1f3f5; }
  table tfoot {
    background-color: #dee2e6; }

fieldset {
  border-radius: 4px;
  border: 2px solid #ced4da; }

label {
  font-weight: 300;
  font-size: 14px; }

legend {
  font-family: 'Open Sans';
  font-weight: 600;
  letter-spacing: 1px; }

input, select, textarea {
  appearance: none;
  background: transparent;
  border: 1px solid #ced4da;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
  font-size: 16px;
  outline: none;
  padding: 0.25rem 0.5rem;
  transition: box-shadow 0.25s ease-in-out; }

input[type="color"] {
  padding: 0; }

input[type="range"] {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0; }

input[type="range"]:focus {
  border: none;
  box-shadow: none;
  outline: none; }

input[type="range"]::-webkit-slider-runnable-track {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px; }

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e9ecef; }

input[type="range"]::-moz-range-track {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px; }

input[type=range]::-moz-range-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px; }

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-radius: 100px;
  border-width: 22px 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  height: 7px; }

input[type="range"]::-ms-fill-lower {
  background: #329af0;
  border: none;
  border-radius: 100px;
  box-shadow: none; }

input[type="range"]::-ms-fill-upper {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none; }

input[type="range"]::-ms-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, 0.75);
  cursor: pointer;
  height: 22px;
  margin-top: -3px;
  width: 22px; }

input[type="range"]:focus::-ms-fill-lower {
  background: #4aa6f2; }

input[type="range"]:focus::-ms-fill-upper {
  background: #e9ecef; }

input:focus, select:focus, textarea:focus {
  box-shadow: none;
  outline: none !important;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 6px #329af0;
  border-color: #329af0; }

input:invalid, select:invalid, textarea:invalid {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 6px #e03131;
  border-color: #e03131; }

select optgroup {
  /*background-color: $primary;*/
  /*color: white;*/ }

select option {
  /*color: $gray-7;*/ }

progress, progress[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #329af0;
  height: 2rem; }

progress::-ms-fill {
  background-color: #329af0;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #329af0; }

progress::-moz-progress-bar {
  background-color: #329af0;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1); }

progress::-webkit-progress-bar {
  background-color: transparent; }

progress::-webkit-progress-value {
  background-color: #329af0;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1); }

.button {
  appearance: none;
  background-color: #329af0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out; }
  .button:hover {
    background-color: #4aa6f2; }
  .button:active {
    background-color: #1081df; }
  .button-secondary {
    appearance: none;
    background-color: #495057;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out; }
    .button-secondary:hover {
      background-color: #555d65; }
    .button-secondary:active {
      background-color: #32373b; }
  .button-success {
    appearance: none;
    background-color: #37b24d;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out; }
    .button-success:hover {
      background-color: #3fc457; }
    .button-success:active {
      background-color: #2b8b3c; }
  .button-error {
    appearance: none;
    background-color: #e03131;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out; }
    .button-error:hover {
      background-color: #e34747; }
    .button-error:active {
      background-color: #c11d1d; }
  .button-warning {
    appearance: none;
    background-color: #ffd43b;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    color: #343a40; }
    .button-warning:hover {
      background-color: #ffda55; }
    .button-warning:active {
      background-color: #ffc908; }
  .button-info {
    appearance: none;
    background-color: #3bc9db;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out; }
    .button-info:hover {
      background-color: #51cfdf; }
    .button-info:active {
      background-color: #23aec0; }

.button-hollow {
  appearance: none;
  background-color: #329af0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
  background-color: transparent;
  border: 1px solid #329af0;
  color: #329af0; }
  .button-hollow:hover {
    background-color: #4aa6f2; }
  .button-hollow:active {
    background-color: #1081df; }
  .button-hollow:hover {
    background-color: #329af0;
    color: white; }
  .button-hollow:active {
    background-color: #1081df;
    color: white; }
  .button-hollow-secondary {
    appearance: none;
    background-color: #495057;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid #495057;
    color: #495057; }
    .button-hollow-secondary:hover {
      background-color: #555d65; }
    .button-hollow-secondary:active {
      background-color: #32373b; }
    .button-hollow-secondary:hover {
      background-color: #495057;
      color: white; }
    .button-hollow-secondary:active {
      background-color: #32373b;
      color: white; }
  .button-hollow-success {
    appearance: none;
    background-color: #37b24d;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid #37b24d;
    color: #37b24d; }
    .button-hollow-success:hover {
      background-color: #3fc457; }
    .button-hollow-success:active {
      background-color: #2b8b3c; }
    .button-hollow-success:hover {
      background-color: #37b24d;
      color: white; }
    .button-hollow-success:active {
      background-color: #2b8b3c;
      color: white; }
  .button-hollow-error {
    appearance: none;
    background-color: #e03131;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid #e03131;
    color: #e03131; }
    .button-hollow-error:hover {
      background-color: #e34747; }
    .button-hollow-error:active {
      background-color: #c11d1d; }
    .button-hollow-error:hover {
      background-color: #e03131;
      color: white; }
    .button-hollow-error:active {
      background-color: #c11d1d;
      color: white; }
  .button-hollow-warning {
    appearance: none;
    background-color: #ffd43b;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid #ffd43b;
    color: #ffd43b;
    color: #343a40; }
    .button-hollow-warning:hover {
      background-color: #ffda55; }
    .button-hollow-warning:active {
      background-color: #ffc908; }
    .button-hollow-warning:hover {
      background-color: #ffd43b;
      color: white; }
    .button-hollow-warning:active {
      background-color: #ffc908;
      color: white; }
    .button-hollow-warning:hover {
      color: #343a40; }
    .button-hollow-warning:active {
      color: #343a40; }
  .button-hollow-info {
    appearance: none;
    background-color: #3bc9db;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid #3bc9db;
    color: #3bc9db; }
    .button-hollow-info:hover {
      background-color: #51cfdf; }
    .button-hollow-info:active {
      background-color: #23aec0; }
    .button-hollow-info:hover {
      background-color: #3bc9db;
      color: white; }
    .button-hollow-info:active {
      background-color: #23aec0;
      color: white; }

/*
How to style meters cross browser
https://css-tricks.com/html5-meter-element/
*/

/*# sourceMappingURL=elements.css.map */
