/**
https://yeun.github.io/open-color/

Yellow0 - #fff9db
Gray1 - #f1f3f5
Gray2 - #e9ecef
Gray3 - #dee2e6
Gray4 - #495057
Gray7 - #343a40
Blue4 - #4dadf7
Blue5 - #329af0
Blue6 - #228ae6
Red7 - #f03e3e
*/

* { box-sizing: border-box; }

html, body {
  background-color: #212529;
  color: #e9ecef;
  font-family: 'Montserrat';
  font-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: 1px;
}

img, iframe {
  max-width: 100%;
}

hr {
  background-color: #495057;
  border: 0;
  border-radius: 2px;
  color: #495057;
  height: 2px;
  width: 100%;
}

fieldset {
  border-radius: 4px;
  border: 2px solid #495057;
}

a {
  color: #228ae6;
  text-decoration: none;
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;
}

a:link, a:visited {
  color: #228ae6;
}

a:hover {
  text-decoration: underline;
}

input, select, textarea {
  appearance: none;
  background-color: #343a40;
  border: 1px solid #495057;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  color: #e9ecef;
  font-family: 'Montserrat';
  font-size: 16px;
  outline: none;
  padding: 0.25rem 0.5rem;
  transition: box-shadow 0.25s ease-in-out;
}

input[type="color"] {
  padding: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

input[type="range"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e9ecef;
}

input[type="range"]::-moz-range-track {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type=range]::-moz-range-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-radius: 100px;
  border-width: 22px 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  height: 7px;
}

input[type="range"]::-ms-fill-lower {
  background: #495057;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type="range"]::-ms-fill-upper {
  background: #e9ecef;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type="range"]::-ms-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #495057;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #e9ecef;
}

input:focus, select:focus, textarea:focus {
  box-shadow: none;
  outline: none !important;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1), 0px 0px 6px #329af0;
  border-color: #329af0;
}

input:invalid, select:invalid, textarea:invalid {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1), 0px 0px 6px #f03e3e;
  border-color: #f03e3e;
}

select optgroup {
  /*background-color: #329af0;*/
  /*color: white;*/
}

select option {
  /*color: #343a40;*/
}

table {
  border: none;
  outline: none;
  border-collapse: collapse;
  max-height: 50px;
  overflow-y: auto;
  text-align: left;
  width: 100%;
}

table caption {
  font-size: 18px;
  margin-bottom: 1rem;
}

table th, table td {
  border: 2px solid #495057;
  padding: 1rem;
}

table th {
  letter-spacing: 1px;
}

table thead {
  background-color: #329af0;
  color: white;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #343a40;
}

tfoot {
  background-color: #343a40;
}

blockquote {
  background-color: #fff9db;
  border-radius: 4px;
  color: #343a40;
  margin: 0 1rem;
  padding: 1rem;
}

pre {
  margin: 0 1rem;
  padding: 1rem;
}

pre, code {
  background-color: #fff9db;
  color: #343a40;
}

mark {
  background-color: #fff9db;
}

label {
  font-weight: 300;
  font-size: 14px;
}

legend {
  font-family: 'Open Sans';
  font-weight: 600;
  letter-spacing: 1px;
}

figure {
  margin: 2rem 1rem;
}

figcaption {
  font-weight: 300;
}

progress, progress[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #495057;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  color: #329af0;
}

progress::-ms-fill {
  background-color: #329af0;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  color: #329af0;
}

progress::-moz-progress-bar {
  background-color: #329af0;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #329af0;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

/*
How to style meters cross browser
https://css-tricks.com/html5-meter-element/
*/
meter {}

details, summary {
  outline: none;
}

.button {
  appearance: none;
  background-color: #329af0;
  border: none;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
}

.button:hover {
  background-color: #4dadf7;
}

.button:active {
  background-color: #228ae6;
}

.radio:focus, .radio:active {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%;
}
